


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none; 
}

body {
	font-family: 'roboto',sans-serif; 
	background-image: linear-gradient(0deg, rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 


@media (max-width: 900px) {

	p {
		font-size: 1.5vw;
	}

	a {
		font-size: 1.7vw;
	}

}


/*cabesera*/

.header {
    margin: auto;
    position: sticky;/*coloca la cabesera pegajosa a la parte superior*/
	top: 0;
}

.cabesera {
	background: linear-gradient(to right, rgba(24,243,90,1),rgba(10,182,96,1) );
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*boton del menu*/

.cabesera a {
	padding: 1.5vw;
	font-size: 2.0vw;
	color: #000000;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 3px #CFCFCF;
	transition: .3s ease-in-out all;
	text-align: center;
	margin: 0px 5px;
}

/*al seleccionar el los botones*/

.cabesera a:hover {
	color: #793FDF;
	background: #0DCCAF;
	border-radius: 5px;
}

.cabesera img {
	width: 90px; 
	height: auto;
	border-radius: 30px;
}

.menu-icon img {
	width: 50px;
	height: 50px;
	border-radius: 2px;
}

.menu-icon, #check{
	display: none;
}

@media (max-width: 768px){

	.checkbtn {
		display: block;
	}

	.menu-icon {
		display: block;
		top: 4vh;
		width: 0%;
		margin: 5vw;
		cursor: pointer;
	}

	.cabesera nav {
		display: block;
		position: fixed;
		top: 13vh;
		left: -100%;
		background: linear-gradient(to right, rgba(24,243,90,1),rgba(10,182,96,1) );
		width: 100%;
		height: 100vh;
		right: 0;
	}

	.cabesera nav a {
		padding: 2rem;
		display: flex;
		justify-content: center;
		margin: 0;
		font-size: 4vw;
	}

	#check:checked ~ nav {
		left: 0;
	}

}

/*fin de cabesera*/

/*pagina inicio*/

#nosotros {
    display: flex;
	width: auto;
	background: rgb(204,204,204,0.5);
	border: 5px solid #ddd;
}

#nosotros h1 {
	text-align: center;
	font-size: 2.5em;
	margin: 20px;
	text-shadow: 2px 5px 10px #000;
}

#nosotros p {
	text-align: center;
	margin: 20px;
	font-size: 1.5em;
}

#inicio {
	width: 40vw;
	height: auto;
	border-radius: 40px;
}

#entrada {
	width: 100%;
	height: 300px;
}

/*carrusel*/

.position {
	top: 60vw;
	left: 10vh;

}

.slider {
	background-image: url(carrusel/1.jpg);
	background-size: cover;
	height: 65vh;
	width: 45vw;
	border-radius: 10px;
	animation: animate 30s infinite;
}

@keyframes animate {
	20% {
		background-image: url(carrusel/1.jpg);
		background-size: cover;
	}
	40% {
		background-image: url(carrusel/2.jpg);
		background-size: cover;
	}
	60% {
		background-image: url(carrusel/3.jpg);
		background-size: cover;
	}
	80% {
		background-image: url(carrusel/4.jpg);
		background-size: cover;
	}
	100% {
		background-image: url(carrusel/5.jpg);
		background-size: cover;
	}
}

/*fin carrusel*/

@media (max-width: 768px) {

	#nosotros {
		display: block;
	}

	.slider {
		width: 98vw;
		height: 50vh;
	}

}

/*fin de pagina inicio*/

/*pagina nosotros*/

.titulo_nos {
	margin: 20px;
	text-align: center;
	text-shadow: 2px 5px 10px #000;
}

#historia {
	background-image: 
    linear-gradient(0deg, rgba(0,0,0,0.4),rgba(0,0,0,0.8),rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url(imagenes/historia.jpg);
    padding: 1%;
    margin: 8vw 1vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    color: aliceblue;
}

#historia div{
	text-align: center;
}

#historia h2 {
	text-align: center;
	font-size: 2.5em;
}

#historia p {
	text-align: center;
	margin: 2vw;
	font-size: 1.4em;
}

#duo {
	display: flex;
	width: auto;
	margin-bottom: 2vw;
}

#mision {
	background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.4),rgba(0, 0,0,0.8)),url(imagenes/mision.jpg);
    padding: 4vw;
    margin: 1vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    color: aliceblue;
}

#mision h2 {
	text-align: center;
}

#mision p {
	text-align: center;
	margin: 0.5vw;
	font-size: 1.2em;
}

#vision {
	background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.4),rgba(0, 0,0,0.8)),url(imagenes/vision.jpg);
    padding: 4vw;
    margin: 1vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    color: aliceblue;
}

#vision h2 {
	text-align: center;
}

#vision p {
	text-align: center;
	margin: 0.5vw;
	font-size: 1.2em
}

@media (max-width: 600px){

	#duo {
		display: block;
	}

}

/*fin de pagina nosotros*/

/*pagina examenes*/

#examenes-info {
	background-color: rgba(182,255,255,0.5);
	padding: 5vw;
    color: aliceblue;
    text-align: center;
}

#examenes-info #div-examenes{
	padding: 10vw 0px;
	justify-content: center;
}

@media (min-width: 770px){
	#div-examenes {
		display: flex;
	}
}

#examenes-info h3{
    color: white;
    margin: 0;
    font-size: 2.7em;
}

#examenes-info h2{
	ext-align: center;
	margin: 6vw 14vw;
	font-size: 2.0em;
	background: linear-gradient(rgba(0,204,71,1),rgba(0,83,206,0.7) );
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

#div-examenes .carta_1,.carta_2,.carta_3,.carta_4,.carta_5, li {
	list-style: none;
	font-size: 1em;
}

#examenes-info .carta_1,.carta_2,.carta_3,.carta_4,.carta_5{
    padding: 2.5vw;
    margin: 1.0vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.carta_1{
    background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.5),rgba(0, 0,0,0.5)),url(imagenes/lab3.jpg);
}
.carta_2{
    background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.5),rgba(0, 0,0,0.5)),url(imagenes/lab.jpg);
}
.carta_3{
    background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.5),rgba(0, 0,0,0.5)),url(imagenes/lab1.jpg);
}

#otros .carta_4 {
	background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.5),rgba(0, 0,0,0.5)),url(imagenes/lab2.jpg);
	column-count: 2;
	margin: 4vw;
}

#otros .carta_5 {
	background-image: 
    linear-gradient(0deg, rgba(0, 0,0,0.5),rgba(0, 0,0,0.5)),url(imagenes/lab4.jpg);
	column-count: 2;
	margin: 4vw;
}

/*fin de pagina examenes*/

/*pagina labores*/

.labores h1 {
	text-align: center;
	margin: 2vw 20vw;
	font-size: 10vw;
	color: #0A9A35;
	text-shadow: 8px 8px 8px #000000;
}

.labores h2 {
	text-align: center;
	margin: 4vw;
}

.labores p {
	text-align: center;
	background: linear-gradient(to right, rgba(73,245,125,1),rgba(10,184,62,1) );
	margin: 4vw 20vw;
	padding: 4vw;
	border-radius: 30px;
	font-size: 1.2em;
}

.fadadol {
	background: rgb(204,204,204,0.7);
	border: 5px solid #ddd;
	padding: 2vw;
}

@media (max-width: 550px){
	.labores p {
		margin: 4vw 4vw;
	}
}

/*carrusel*/

.slider-frame {
  width: 98vw;
  height: 99vh;
  margin:40px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 98vw;
  
  animation: slide 30s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 98vw;
  list-style: none;
}

.slider-frame img {
  width: 98vw;
}

@keyframes slide {
  10% {margin-left: 0;}
  15% {margin-left: 0;}
  
  35% {margin-left: -100%;}
  40% {margin-left: -100%;}
  
  55% {margin-left: -200%;}
  60% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  80% {margin-left: -300%;}

  95% {margin-left: -400%;}
  100% {margin-left: -400%;}
}

/*fin carrusel*/

/*carrusel limpieza*/

.slider-limpieza {
  width: 98vw;
  height: 99vh;
  margin:40px auto ;
  overflow: hidden;
}

.slider-limpieza ul {
  display: flex;
  padding: 0;
  width: 398vw;
  
  animation: slider 30s infinite alternate ease-in-out;
}

.slider-limpieza li {
  width: 98vw;
  list-style: none;
}

.slider-limpieza img {
  width: 98vw;
}

@keyframes slider {
  20% {margin-left: 0;}
  25% {margin-left: 0;}
  
  45% {margin-left: -100%;}
  50% {margin-left: -100%;}
  
  70% {margin-left: -200%;}
  75% {margin-left: -200%;}
  
  95% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

/*fin carrusel limpieza*/

/*fin de pagina labores*/

/*pagina contactos*/

#horario {
	text-align: center;
	background: #58F5A3;
	margin: 2vw 14vw;
	padding: 1vw;
	border-radius: 10px;
}

#redes {
	background: rgba(182,255,255,0.5);
	text-align: center;
	padding: 2vw;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 20px;
}

#redes h2 {
	margin: 1.8vw;
}

.sociale a {
	margin: 1vw;
}

.sociale h4 {
	margin: 1.5vw;
}

#ubicacion {
	background: rgba(182,255,255,0.5);
	text-align: center;
	padding: 2vw;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 20px;
}

.letra {
	font-size: 1.1em;
}

#red {
	display: flex;
	justify-content: center;
}

@media (max-width: 365px){

	#red {
		display: block;
	}

}

/*fin de pagina contactos*/

/*pie de pagina*/

.container p {
	margin: 5px;
	font-size: 2vw;
}

.container img {
	width: 6.5vw;
	height: 6vw;
}

.container {
	padding: 1vw;
	background: #A2A2A2;
	display: flex;
	left: 0;
	right: 0;
	bottom: 0;
	position: all;
}

/*fin del pie de pagina*/
